.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}

.search-form {
  min-height: 10vh;
  display: block;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  position: fixed;
  border: none;
  padding: 10px;
}

.search-button{
  background: #495aff;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
